@{
    ViewData["Title"] = "CallAPI";
}

<h1>CallAPI</h1>

@section Scripts{
    <script>
        (async () => {
            let response = await fetch('https://localhost:7127/api/Categories');
            let datas = await response.json();
            console.log(datas);
        })();
    </script>
}