
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@model IEnumerable<AjaxDemo.Models.Category>

<ol>
    @foreach (var category in Model)
    {
        <li>@category.CategoryName</li>
    }
</ol>

@section Scripts{<script>console.log("123");</script>}