
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>
        <form method="post" action="~/api/register" id="userForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">

            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">圖像</label>
                <input class="form-control" type="file" id="formFile" name="avatar">
            </div>
            <button type="submit" class="btn btn-primary" id="btnsubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3" style="background-color:lightgoldenrodyellow;"></div>
    </div>
</div>


@section Scripts{
    <script>
        const divResult = document.querySelector('#div1');
        const btnSubmit = document.querySelector('#btnsubmit');
        const inpName = document.querySelector('#InputName');
        const inpEmail = document.querySelector('#InputEmail');
        const inpAge = document.querySelector('#InputAge');
        btnSubmit.addEventListener('click', async(event) => {
            event.preventDefault();
            console.log(inpName.value);

            const myForm = document.querySelector('#userForm');
            const formData = new FormData(myForm);
            /*formData.append("password", "12345678");
            //讀出formData中的資料
            for(const pair of formData.entries()){
                console.log(`${pair[0]}:${pair[1]}`);
            }*/

            const url = '@Url.Content("~/api/register/")';
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            /*let url = `@Url.Content("~/api/Register")?name=${inpName.value}&email=${inpEmail.value}&age=${inpAge.value}`
            let response=await fetch(url);*/
            let data=await response.text();
            divResult.textContent = data;
        })

        //(async()=>{let url = `@Url.Content("~/api/Register")?name=Kid&age=43`
        //let response=await fetch(url);
        //let data=await response.text();
        //document.getElementById('dd').innerHTML=data;})();
    </script>
}
